/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #faf3ec;
    color: #4f3d33;
    padding: 20px;
    margin: 0;
}

section {
    margin: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px; /* Ensure padding for small screens */
}

.site-header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #5c5148;
}

.intro {
    margin-bottom: 40px;
    font-size: 18px;
}

.graph-section {
    width: 100%;
}

#altitudeChart {
    width: 100%;   /* Set the specific width */
}

.controls {
    display: flex;
    align-items: center;
    width: 100%; /* Make the controls container full width */
    max-width: 100%; /* Prevent overflow */
    padding: 0; /* Remove any extra padding */
}

.controls button {
    height: 40px;
    width: 40px;
    flex-shrink: 0; /* Prevent shrinking of button */
}

#time-slider {
    flex: 1;
    height: 40px;
    width: 100%; /* Set slider width to 100% */
    max-width: 100%; /* Prevent overflow */
    margin: 0 10px; /* Space between button and slider */
}

.date-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.date-selector button {
    background: none;
    border: none;
    font-size: 24px;
    color: #4f3d33;
    cursor: pointer;
}

.conclusion h2 {
    font-size: 24px;
    font-weight: bold;
    color: #5c5148;
    margin-bottom: 10px;
}

.conclusion p {
    margin-bottom: 20px;
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        padding: 10px; /* Reduce padding for small screens */
    }

    .site-header h1 {
        font-size: 36px;
    }

    .container {
        max-width: 100%; /* Allow the container to be fluid on small screens */
        padding: 0 10px; /* Reduce padding */
    }

    .controls {
        width: 100%; /* Ensure full width of the controls container */
        flex-direction: row;
        padding: 0; /* Remove extra padding */
    }

    #time-slider {
        width: 100%; /* Make sure the slider takes full width on mobile */
        margin: 0 10px; /* Adjust the margin for spacing */
    }

    .date-selector button {
        margin: 5px 0; /* Space buttons better on small screens */
    }
}
