/* Default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
}

h1 {
    font-size: 144px;
    font-weight: bold;
    color: #61544A;
    margin-bottom: 150px;
    letter-spacing: -2px;
    line-height: 0.9;
    text-align: center;
    padding-top: 150px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #61544A;
    margin-top: 200px;
    margin-bottom: 0px;
}

body {
    font-family: 'League Spartan', sans-serif;
    line-height: 1.8;
    background-color: rgb(254, 250, 244);
    color: #61544A;
    padding: 100px;
    margin: 0;
}
.container, .site-header {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 80px;
}

section {
    margin: 150px 0;
}

.footer {
    display: block;
    text-align: center;
    margin-top: 150px;
}


/* Redundant CSS cause CSS sucks (don't know why it doesn't work simplified) SORRY!*/
.img {
    max-width: 100%;
    height: auto;
    display: block;
    max-width: 800px; /* Ensure images don’t exceed a certain size */
    height: auto; /* Maintain aspect ratio */
    display: block;
}

.header-image {
    max-width: 100%;
    height: auto;
    display: block;
    max-width: 800px; /* Ensure images don’t exceed a certain size */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin-left: auto; /* Align the image to the right */
    position: relative; /* Allows for 'right' property to work */
    right: -180px; /* Move the image 180px further to the right */
}

.bahnhof-image {
    max-width: 100%;
    height: auto;
    display: block;
    max-width: 800px; /* Ensure images don’t exceed a certain size */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    left: -180px; /* Move the image 180px further to the right */
}

.footer-image {
    max-width: 100%;
    height: auto;
    display: block;
    max-width: 800px; /* Ensure images don’t exceed a certain size */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin-left: auto; /* Align the image to the right */
    position: relative; /* Allows for 'right' property to work */
    right: -180px; /* Move the image 180px further to the right */
}


/* Individual styling */

.date-time-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    align-items: center;
    width: 100%;
}

.controls button {
    height: 40px;
    width: 40px;
}

#time-slider {
    flex: 1;
    margin: 0 30px;
    accent-color: #61544A;
}

.date-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#date-picker {
    font-size: 20px;
}

.date-selector button {
    background: none;
    border: none;
    font-size: 24px;
    color: #61544A;
    cursor: pointer;
}

/* Mobile Styling */
@media (max-width: 1000px) {
    body {
        padding: 5px;
    }

    * {
        font-size: 16px;

    }
    
    h1 {
        font-size: 64px;
    }

    .container, .site-header {
        max-width: 100%;
        padding: 0 0px;
    }

    .container {
        padding: 0 20px;
    }

    .controls {
        padding: 0;
    }

    #play-btn {
        font-size: 15px;
    }
    
    .controls button {
        height: 30px;
        width: 30px;
    }

    #time-slider {
        width: 100%;
        margin: 0 15px;
    }

    #date-picker {
        font-size: 16px;
    }

    .date-selector {
        gap: 15px;
    }


    /* Mobile adjustments for images */
    .header-image {
        max-width: 100%;
        position: unset;
    }

    .bahnhof-image {
        max-width: 100%;
        position: unset;
    }

    .footer-image {
        max-width: 100%;
        position: unset;
    }
}